%h1 Listing earned_badges

%table
  %tr
    %th
    %th
    %th

  - @earned_badges.each do |earned_badge|
    %tr
      %td= link_to 'Show', earned_badge
      %td= link_to 'Edit', edit_earned_badge_path(earned_badge)
      %td= link_to 'Destroy', earned_badge, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Earned badge', new_earned_badge_path
