%h3
  Here are your contributions to Big Petroleum
  = current_user.firstName
  %br
  %br
  %div

    - if @areaGraph != nil
      = high_chart("UsageChart",@areaGraph)
    - if @distributionGraph !=nil
      = high_chart("EmissionDistributionChart",@distributionGraph)
    - if @areaGraph == nil && @distributionGrah == nil
      %p
        Thank you for joining G.E.R.A! Lets take the fight to Big Petroleum!

      %applet{"codebase" => "http://localhost:3000/applets", "width" => "400", "height" => "400", "archive" => "testapplet.jar", "code" => "com/lunagameserve/TestApplet/TestApplet.class", "name" => "testapplet", "id" => "testapplet", "align" => "center"}
        You can't view applets :( Go install Java or upgrade your browser or something.
        %param{"name" => "appletparam", "value" => current_user.email}

