%h3 Home

= current_user.inspect
%br
%br
%div
 %p Welcome to Carbon Counter 5000! This message serves several purposes. First: there is now text on the homescreen which is satisfying, second: learning curves on making stuff show up, third: ????? forth: profit.
 %ul
  %li Text on homescreen
  %li learn HAML
  %li ??????????
  %li profit

-if current_user!=nil
 = high_chart("bigChart",@usage)


