- if current_user!=nil
  %h3
    Welcome Back To G.E.R.A Head Quarters
    = current_user.firstName
    !
  = image_tag "res_fist.png"
- else
  %h3 Welcome to the Global Emissions Resitance Alliance
  = image_tag "res_fist.png"
  %br
  %br
  %div
    %p
      Welcome Brother or Sister the Global Emissions Reduction Alliance or G.E.R.A. If you have reached us then you are not alone. You have been called upon to join us in the struggle against Big Carbon. Please help us end the enslavement of our people from the clutches of this most powerful foe!
    %ul
      %li Tracking on a number of usage types and factors
      %li History and reduction vectors
      %li Badges, acheivements, community
      %li Analysis compared to regional averages
      %li Most effective reduction suggestions
