- if current_user!=nil
  %h3
    Welcome Back
    =current_user.firstName
    !
  %h4 Your Carbon Profile
  %div
    - if @areaGraph != nil
      = high_chart("UsageChart",@areaGraph)
    - if @distributionGraph !=nil
      = high_chart("EmissionDistributionChart",@distributionGraph)
    - if @areaGraph == nil && @distributionGrah == nil
      %p
        Thank you for joining Carbon Counter 5000! Please enter your information to get started!

      %applet{"codebase" => "http://localhost:3000/applets", "width" => "400", "height" => "400", "archive" => "testapplet.jar", "code" => "com/lunagameserve/TestApplet/TestApplet.class", "name" => "testapplet", "id" => "testapplet", "align" => "center"}
        You can't view applets :( Go install Java or upgrade your browser or something.
        %param{"name" => "appletparam", "value" => current_user.email}
- else
  %h3 Welcome to Carbon Counter 5000, Please sign up for an account
  %br
  %br
  %div
    %p
      Welcome to Carbon Counter 5000! Our community is designed to help people track, compare, and reduce their carbon footprints. Click sign-up and get your 100% free Carbon usage profile and see how you compare to your friends, your community, and the average. Then come back often for updated average, historical analysis, and to see what cool prizes you've won.
    %ul
      %li Tracking on a number of usage types and factors
      %li History and reduction vectors
      %li Badges, acheivements, community
      %li Analysis compared to regional averages
      %li Most effective reduction suggestions