- if current_user!=nil
  %h2.typeout.header{:style=>"height:30px; font-size:29px;"}
    Welcome Back To G.E.R.A Headquarters Agent 
    = current_user.lastName
    !
  = image_tag "res_fist.png"
  %br/
  %br/
  %p
    The struggle against Big Petroleum is ongoing, Agent
    = current_user.lastName
    
  %p    
    Report to 
    =link_to "Missions ", missions_path
    to view your current assignments,
    =link_to "Personnel File", user_path(current_user)
    to see your badges, rank, rewards, and other information. You may additionally view graphs and statistics you have helped G.E.R.A collect in the
    =link_to "Intelligence ", contribution_path
    screen
 
- else
  %h3.typeout.header
    Welcome to the Global Emissions Reduction Alliance
  = image_tag "res_fist.png"
  %br
  %br
  %div.typeout{:style=>"height:70px;"}
    %p
      Welcome Brother or Sister to the Global Emissions Reduction Alliance(G.E.R.A.) Headquarters. Do you have security credentials to enter our application, or are you here to apply for a clearance?
  %div{:style=>"width:100%; text-align:center; font-size:22px; padding-top:50px;"}
    =link_to("Here are my Credentials(Login)",new_user_session_path)
    %br/
    %br/
    =link_to("I need to apply for a clearance (Sign-up)", new_user_registration_path)
    =#link_to("I don't know (more information)",about_us_path)

- if current_user != nil 
  - if current_user.visited_page != "true"
    - javascript_include_tag 'showGuiders.js'
    :javascript
      showGuiders()
    - current_user.visited_page = "true"
    - current_user.save

:javascript
  $(document).ready(function() {
  $('.typeout').typewrite({
  'callback': function(){
  $('.typeout').css();
  },
  'delay': 5,
  'extra_char': ' '
  });
  });

