- if current_user!=nil
  %h3
    Welcome Back To G.E.R.A Headquarters
    = current_user.firstName
    !
  = image_tag "res_fist.png"
  %br
  %br
  %div.typeout
    %p
      The struggle against Big Petrol is ongoing 
      = current_user.firstName
      Lets keep doing our part to reduce our carbon emissions and show B.P. that we mean Business!
    %ul

- else
  %h3
    Welcome to the Global Emissions Reduction Alliance
  = image_tag "res_fist.png"
  %br
  %br
  %div.typeout{:style=>"height:70px;"}
    %p
      Welcome Brother or Sister to the Global Emissions Reduction Alliance(G.E.R.A.) Headquarters. Do you have security credentials to enter our facility, or are you here to apply for a clearance?
  %div{:style=>"width:100%; text-align:center; font-size:22px; padding-top:50px;"}
    =link_to("Here are my Credentials(Login)",new_user_session_path)
    %br/
    %br/
    =link_to("I need to apply for a clearance (Sign-up)", new_user_registration_path)
    =#link_to("I don't know (more information)",about_us_path)

- if current_user != nil 
  - if current_user.visited_page != "true"
    - javascript_include_tag 'showGuiders.js'
    :javascript
      showGuiders()

    - current_user.visited_page = "true"
    - current_user.save
:javascript
  $(document).ready(function() {
  $('.typeout').typewrite({
  'callback': function(){
  $('.typeout').css();
  },
  'delay': 5,
  'extra_char': ' '
  });
  });

