- if current_user!=nil
  %h3
    Welcome Back To G.E.R.A Head Quarters
    = current_user.firstName
    !
  = image_tag "res_fist.png"
  %br
  %br
  %div
    %p
      The struggle against Big Petrol is ongoing 
      = current_user.firstName
      Lets keep doing our part to reduce our carbon emissions and show B.P. that we mean Business!
    %ul

- else
  %h3 Welcome to the Global Emissions Resitance Alliance
  = image_tag "res_fist.png"
  %br
  %br
  %div
    %p
      Welcome Brother or Sister to the Global Emissions Reduction Alliance or G.E.R.A. If you have reached us then you are not alone. You have been called upon to join us in the struggle against Big Petroleum, better know to us as B.P. . Please help us end the enslavement of our people from the clutches of this most powerful foe!