%p
  %b Mission:
  = @mission.name
%p
  %b Objective:
  = @mission.description
%p
  %b Value:
  = @mission.value

= link_to "Start Mission", wizard_path(@mission.id)

:javascript
  $(document).ready(function() {
  'callback': function(){
  $('.typeout').css();
  },
  'delay': 5,
  'extra_char': ' '
  });
  });