%h1 Mission Objective
%blockquote
  "[It is very likely that] Greenhouse gas forcing has been the dominant cause of the observed global warming over the last 50 years." - IPCC 
%p
  %b G.E.R.A
  's mission is to combat human-caused (anthropogenic) climate change by targeting greenhouse gas (carbon) emissions. The alliance, and its members, track, compare, and reduce their carbon emissions to earn badges and rewards.
  %b G.E.R.A
  members take the fight to big petoleum by understanding their usage and emissions, making targeted high leverage reductions, and inspiring others to do the same.
%p
  The average household in the United States has a carbon footprint of approximately 48 tons per year.
  %b G.E.R.A
  and its supporters think we can do better then that. Reduce your footprint, reduce your waste, save money, and save the planet!

%blockquote
  "Warming of the climate system is unequivocal, as is now evident from observations of increases in global average air and ocean temperatures, widespread melting of snow and ice and rising global average sea level" - IPCC


