- if current_user!=nil
  %h3
    Help us fill out your Carbon profile!
- else
  %h3
    Try out the Carbon calculator by providing some data anonymously!

#tabs
  %ul#tabList.nav.nav-tabs


%div{:float => "left"}
  #question
  %input#answer.textBox{:type => "number", :hidden => "true"}
  .authform
    #skip.button{:float => "left"}
      Skip
    #next.button
      Next

:javascript
  $(document).ready(function() 
  {
    $('#question').text('Click next to begin answering questions and filling out a basic profile, or choose a tab above to fill out specific information.').addClass('header1');
    initTabs();
  })
  var variables =
    #{
      @factors.to_json
    };
  var categories =
    #{
      @categories.to_json
    }
  var counter = -1;
  var questions = [];

  var initTabs = function()
  {
    for(i in categories)
    {
      var category = categories[i];
      var wrapper = $("<li class='button'>");
      var tab = $("<a>");
      tab.attr("href", "#"+category.name);
      tab.attr("data-toggle", "tab");
      tab.text(category.name);
      tab.click(function(){
        counter = -1;
        questions = [];
        for(x in variables)
        {
          var variable = variables[x];
          if(variable.dependency == 2 && variable.category_id == category.id)
            questions.push(variable.variableName);
        }
        displayNextQuestion();
      });
      wrapper.append(tab);
      $("#tabList").append(wrapper);
    }
    for(x in variables)
    {
      var variable = variables[x];
      if(variable.dependency == 2 && variable.variableName)
        questions.push(variable.variableName);
    }
  }

  var displayNextQuestion = function()
  {
    var next;
    while(counter < questions.length - 1 && !next)
      next = questions[++counter];

    if(counter < questions.length - 1)
    {
      $('#question').text(next);
      $('#answer').removeAttr('hidden');
      $('#answer').val('');
      $('#skip').removeAttr('hidden');
      $('#next').removeAttr('hidden');
    }
    else
    {
      $('#question').text("There are no more questions to ask!");
      $('#skip').hide();
      $('#next').hide();
      $('#answer').hide();
    }
  }

  var submitQuestion = function()
  {
    var value = $('#answer').val();
    if(!value)
      return $('#answer').attr('hidden');
    var data = {};
    data.amount = value;
    data.factor_id = variables[counter].id;

    $.ajax({
      type: "POST",
      url: "/create_answer_from_input",
      data: data,
      datatype:"html",
      success: function(data){},
      async: true
    });

    return true;
  }

  $('#next').click(function()
  {
    if(submitQuestion())
      displayNextQuestion();
  });


  $('#skip').click(function()
  {
    displayNextQuestion();
  });
  
