- if current_user!=nil
  %h3
    Help us fill out your Carbon profile!
- else
  %h3
    Try out the Carbon calculator by providing some data anonymously!

%div{:float => "left"}
  #question
  %input#answer.textBox{:type => "number", :hidden => "true"}
  .authform
    #skip.button{:float => "left"}
      Skip
    #next.button
      Next

:javascript
  $(document).ready(function() 
  {
    $('#question').text('Click next to begin answering questions and filling out a basic profile.').addClass('header1');
  })
  var variables =
    #{
      @factors.to_json
    };
  var counter 	= -1;

  var displayNextQuestion = function()
  {
    if(counter < variables.length - 1)
    {
      $('#question').text(variables[++counter].variableName);
      $('#answer').removeAttr('hidden');
      $('#answer').val('');
    }
    else
    {
      $('#question').text("There are no more questions to ask!");
      $('#skip').hide();
      $('#next').hide();
      $('#answer').hide();
    }
  }

  var submitQuestion = function()
  {
    var value = $('#answer').val();
    if(!value)
      return $('#answer').attr('hidden');
    var data = {};
    data.amount = value;
    data.factor_id = variables[counter].id;

    $.ajax({
      type: "POST",
      url: "/create_answer_from_input",
      data: data,
      datatype:"html",
      success: function(data){},
      async: true
    });

    return true;
  }

  $('#next').click(function()
  {
    if(submitQuestion())
      displayNextQuestion();
  });


  $('#skip').click(function()
  {
    displayNextQuestion();
  });
  