#cc5kCarousel.carousel.slide{"data-ride" => "carousel"}
  %ol.carousel-indicators
    %li.active{"data-target" => "cc5kCarousel", "data-slide-to" => "0"}
    %li{"data-target" => "cc5kCarousel", "data-slide-to" => "1"}
    %li{"data-target" => "cc5kCarousel", "data-slide-to" => "2"}
  .carousel-inner
    .item.active
      = image_tag("zen2.jpg")
      .container
        .carousel-caption
          %h1 Carbon Counter 5000
          %p
            cool
            %code
              Code
            tags!
    .item
      = image_tag("zen1.jpg")
      .container
        .carousel-caption
          %h1 Track
    .item
      = image_tag("zen3.jpg")
      .container
        .carousel-caption
          %h1 Reduce
  %a.left.carousel-control{"href" => "#cc5kCarousel", "data-slide" => "prev"}
    %span.glyphicon.glyphicon-chevron-left
  %a.right.carousel-control{"href" => "#cc5kCarousel", "data-slide" => "next"}
    %span.glyphicon.glyphicon-chevron-right
