-# navigation styled for Bootstrap 3.0
.navbar-wrapper
  .container
    .navbar.navbar-inverse.navbar-static-top{:role => "navigation"}
      .container
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a{"class" => "navbar-brand", "href" => root_path}
            Carbon Counter 5000
        .collapse.navbar-collapse
          %ul.nav.navbar-nav
            = render 'layouts/navigation_links'